@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    max-width: 1440px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    color:#282938;
}
header, main, section{
    padding: 0 100px;
}
@media screen and (max-width:950px) {
header,
  main,
  section {
    padding: 0 50px;
  }
}
.linear{
  background: linear-gradient(329deg, #1C1E53 0%, rgba(28, 30, 83, 0.42) 100%);
}
input{
  display: block;
  width: 100%;
  background: transparent;
  border-radius: 8px;
  border: 1.50px rgba(255, 255, 255, 0.05) solid;
  padding: 18px 32px;
  margin-bottom: 16px;
}